<section style="width:100% ; height: 100vh;">

<h1 class="p-8 py-7 text-white">Banner</h1>

<section class="" >
    <div class="row mt-4">
    </div>
    <div class="container">
        <a class="add btn btn-danger " href="/admin/add-banner" >Add Banner</a>    
        <table class="table mt-5 " id="productsTable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Titile</th>
      <th scope="col">Status</th>

        <th>image</th>
        <th>Option</th>
    </tr>
  </thead>
  <tbody>
      {{#each banner1}}
    <tr>
      <th scope="row">{{inc @index}}</th>
      
      <td>{{this.name}}</td>
      <td>{{this.status}}</td>
    
      <td><img class="#" width="60px" height="60px" src="/banner-images/{{this._id}}.jpeg" alt=""></td>
     <td>
      <a href="/admin/edit-banner/{{this._id}}"  class="btn btn-success">Change</a><br>
      <a href="/admin/delete-banner/{{this._id}}" onclick="return confirm('Are you sure')" class="btn btn-danger">Remove </a><br>
      {{#if this.status}}
      <a href="/admin/desable-banner/{{this._id}}" onclick="return confirm('Are you sure')" class="btn btn-secondary">desable</a><br>
      {{else}}
      <a href="/admin/enable-banner/{{this._id}}" onclick="return confirm('Are you sure')" class="btn btn-success">enable</a><br>
      {{/if}}

     </td>
    </tr>
    {{/each}}
   
  </tbody>
</table>
    </div>


</section>
<script>

  $(document).ready(function () {


    $('#productsTable').wrap('<div id="hide" style="display:none"/>');

    $('#hide').css('display', 'block');
  });


  var table = $('#productsTable').DataTable();


</script>



</section>
