<section class="p-9" >
    <div class="row mt-4">
    </div>
    <div class="container">
        <a class="add btn btn-danger " href="/admin/add-category" >Add Offer Product</a>

        <table class="table mt-5 " id="productsTable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Titile</th>
      <th scope="col">category</th>     
       <th scope="col">Discount</th>
        <th scope="col">image</th>
        <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
      {{#each categories}}
    <tr>
      <th scope="row">{{@index}}</th>
      
      <td>{{this.name}}</td>
      <td>{{this.category}}</td>
      {{!-- <td>{{this.description}}</td> --}}
      <td>{{this.price}}%</td>
      <td><img class="#" width="60px" height="60px" src="/category-images/{{this._id}}.jpeg" alt=""></td>
     <td>
      <a href="/admin/edit-category/{{this._id}}" class="btn btn-success">Edit</a>
      <a href="/admin/delete-category/{{this._id}}" class="btn btn-danger">Delete</a>

     </td>
    </tr>
    {{/each}}
   
  </tbody>
</table>
    </div>


</section>
<script>

  $(document).ready(function () {


    $('#productsTable').wrap('<div id="hide" style="display:none"/>');

    $('#hide').css('display', 'block');
  });


  var table = $('#productsTable').DataTable();


</script>