

<section class="p-9" >
    <div>
               <h1 class="mt-1">Feedback</h1>

    </div>
    <div class="row mt-4">

    </div>
    <div class="container">

        <table class="table mt-5 " id="usersTable1">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">Website</th>
       <th scope="col">Feedback</th>

    </tr>
  </thead>
  <tbody>
      {{#each review}}
    <tr>
      <th scope="row">{{inc @index}}</th>
      
      <td scope="row">{{this.name}}</td>
      <td scope="row">{{this.email}}</td>
      <td scope="row">{{this.website}}</td>
      <td scope="row">{{this.feedback}}</td>
     <td>

     </td>
    </tr>
    {{/each}}
   
  </tbody>
</table>
    </div>


</section>


<script>
    $(document).ready(function () {


        $('#usersTable1').wrap('<div id="hide" style="display:none"/>');

        $('#hide').css('display', 'block');
    });


    var table = $('#usersTable1').DataTable();
</script>