<section class="p-3" style="min-height: 70vh; margin-block-start: 300px; ">
  <table class="table table-bordered" style="height: 14vh;" id="usersTable">
    <thead>
      <tr>
        <th scope="col">NO</th>
        <th scope="col">NAME</th>
        <th scope="col">PAYMENT</th>
        <th scope="col">DELIVERY STATUS</th>
        <th scope="col">MOBILE</th>
        <th scope="col">STATUS</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">ADRESS</th>
        {{!-- <th scope="col">OPTIONS</th> --}}
        <th scope="col">CHANGE</th>
        <th scope="col">ORDER TRACK</th>
        <th scope="col">TRACK STATUS</th>


      </tr>
    </thead>

    <tbody>
      {{#each orderProduct}}
      <tr>
        <th scope="row">{{@index}}</th>
        <td scope="row">{{this.deliveryAdress.name}}</td>
        <td scope="row">{{this.paymentMethod}}</td>
        <td scope="row">{{this.deliveryStatus}}</td>
        <td scope="row">{{this.deliveryAdress.mobile}}</td>
        <td scope="row">{{this.products.[0].status}}</td>
        {{!-- <td>{{this.deliveryAdress.date}}</td> --}}
        <td scope="row">{{this.deliveryAdress.totalAmount}}</td>
        <td scope="row">{{this.deliveryAdress.adress}},{{this.deliveryAdress.country}},{{this.deliveryAdress.state}}
        </td>
        <td scope="row">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">

            <span class="d-none d-lg-inline-flex btn btn-danger">Change Status</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
            <a href="/admin/change-status/{{this._id}}"><button class="btn btn-success"> deliverd </button></a>
            <a href="/admin/change-status0/{{this._id}}"><button class="btn btn-success "> Shipped </button></a>
            <a href="/admin/change-status1/{{this._id}}"><button class="btn btn-primary">pending</button></a>
            <a href="/admin/change-status3/{{this._id}}"><button class="btn btn-info">placed</button></a>
            <a href="/admin/change-status2/{{this._id}}"><button class="btn btn-danger"
                onclick="return confirm('Are you sure')">Cancel </button></a>

          </div>

        </td>
        <td scope="row">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">

            <span class="d-none d-lg-inline-flex btn btn-primary">Change Track</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
            <a href="/admin/track0/{{this._id}}"><button class="btn btn-success pl-5"> deliverd </button></a>
            <a href="/admin/track1/{{this._id}}"><button class="btn btn-blue pl-5"> Shipped </button></a>
            <a href="/admin/track2/{{this._id}}"><button class="btn btn-primary">pending</button></a>
            <a href="/admin/track3/{{this._id}}"><button class="btn btn-info">placed</button></a>
            <a href="/admin/track4/{{this._id}}"><button class="btn btn-danger"
                onclick="return confirm('Are you sure')">Cancel </button></a>

          </div>


        </td>
        <td scope="row">

          </a>
          {{#if this.deliverd}}
            <a class="text-success ">Deliverd </a>
          {{else if this.shipped}}
            <a class="">Shipped </a> 
               {{else if this.placed}}

            <a class=" ">Placed </a>
          {{else if this.pending}}

            <a class="">Pending </a>
            {{else}}
               <a class="text-danger "> cancel</a>

              {{/if}}
          </div>

        </td>
      </tr>
      {{/each}}
    </tbody>

  </table>
</section>
<script>
    $(document).ready(function () {


        $('#usersTable').wrap('<div id="hide" style="display:none"/>');

        $('#hide').css('display', 'block');
    });


    var table = $('#usersTable').DataTable();
</script>