 <section >
  <table class="table table-bordered" style="height: 14vh;">
  <thead>
    <tr>
      <th scope="col">NO</th>
      <th scope="col">NAME</th>
      <th scope="col">PAYMENT</th>
      <th scope="col">MOBILE</th>
      <th scope="col">ORDER DATE</th>
      <th scope="col">AMOUNT</th>
      <th scope="col">ADRESS</th>    
      <th scope="col">OPTIONS</th>
       <th scope="col">ORDER STATUS</th>

    </tr>
  </thead>
 
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">{{inc @index}}</th>
      <td>{{this.deliveryAdress.name}}</td>
      <td>{{this.paymentMethod}}</td>
      <td>{{this.deliveryAdress.mobile}}</td>
      <td>{{this.deliveryAdress.date}}</td>
      <td>{{this.deliveryAdress.totalAmount}}</td>
      <td>{{this.deliveryAdress.adress}},{{this.deliveryAdress.country}},{{this.deliveryAdress.state}},{{this.deliveryAdress.city}},{{this.deliveryAdress.pincode}}</td>
      <td>
       <a href="/view-order-products/{{this._id}}"><button class="btn btn-success my-2 py-2">View Producs</button></a> <br>
       <a href="/delete-order-products/{{this._id}}"><button class="btn btn-danger" onclick="return confirm('Are you sure')" >Remove Order</button></a> <br>
      </td>
      <td>{{this.deliveryStatus}}</td>
    </tr>
    {{/each}}
  </tbody>
  
</table>
</section> 

<div class="container">
    <article class="card">
        <header class="card-header"> My Orders / Tracking </header>
        <div class="card-body">
                {{#each products}}

            <h6>Order ID: {{this._id}}</h6>
            <article class="card">
                <div class="card-body row">

                    <div class="col"> <strong>Estimated Delivery time:</strong> <br>3 day</div>
                    <div class="col"> <strong>Shipping BY:</strong> <br>Watchzone <i class="fa fa-phone"> 1800-200-999</i> </div>
                    <div class="col"> <strong>Status:</strong> <br> {{this.deliveryStatus}} </div>
                    <div class="col"> <strong>Tracking #:</strong> <br> {{this._id}}</div>
                </div>
            </article>
                                {{/each}}

            {{#each product}}
            {{#if pending}}
            <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order Pending</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Order Placed</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
            </div>
            <hr>
            {{else if placed}}
             <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order Pending</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Order Placed</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
            </div>
            <hr>
            {{else if shipped}}
             <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order Pending</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Order Placed</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
            </div>
            <hr>
            {{else if deliverd}}
             <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order Pending</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Order Placed</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped </span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
            </div>
            <hr>
            {{else}}
              <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order canceled</span> </div>
                {{!-- <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Order Placed</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped </span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div> --}}
            </div>
            <hr>
            {{/if}}
            {{/each}}

            <ul class="row">
                  {{#each orderProducts}}

                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="/product-images/{{this.products._id}}.jpeg" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">{{this.products.name}} <br> </p> <span class="text-muted">RS{{this.products.price}}  </span>
                        </figcaption>
                    </figure>
                </li>
                {{/each}}
             
            
            </ul>
            <hr>
            <a href="/" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to shop</a>
        </div>
    </article>
</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

    body {
        background-color: #eeeeee;
        font-family: 'Open Sans', serif
    }

    .container {
        margin-top: 50px;
        margin-bottom: 50px
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.10rem
    }

    .card-header:first-child {
        border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    }

    .track {
        position: relative;
        background-color: #ddd;
        height: 7px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 60px;
        margin-top: 50px
    }

    .track .step {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 25%;
        margin-top: -18px;
        text-align: center;
        position: relative
    }

    .track .step.active:before {
        background: #FF5722
    }

    .track .step::before {
        height: 7px;
        position: absolute;
        content: "";
        width: 100%;
        left: 0;
        top: 18px
    }

    .track .step.active .icon {
        background: #ee5435;
        color: #fff
    }

    .track .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: relative;
        border-radius: 100%;
        background: #ddd
    }

    .track .step.active .text {
        font-weight: 400;
        color: #000
    }

    .track .text {
        display: block;
        margin-top: 7px
    }

    .itemside {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%
    }

    .itemside .aside {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

    .img-sm {
        width: 80px;
        height: 80px;
        padding: 7px
    }

    ul.row,
    ul.row-sm {
        list-style: none;
        padding: 0
    }

    .itemside .info {
        padding-left: 15px;
        padding-right: 7px
    }

    .itemside .title {
        display: block;
        margin-bottom: 5px;
        color: #212529
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem
    }

    .btn-warning {
        color: #ffffff;
        background-color: #ee5435;
        border-color: #ee5435;
        border-radius: 1px
    }

    .btn-warning:hover {
        color: #ffffff;
        background-color: #ff2b00;
        border-color: #ff2b00;
        border-radius: 1px
    }
</style>