<!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                    data-setbg="/banner-images/{{banner.[0]._id}}.jpeg">
                    <div class="categories__text">
                        <h1>Women’s fashion</h1>
                        <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                            edolore magna aliquapendisse ultrices gravida.</p>
                        <a href="/shop">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/banner-images/{{banner.[1]._id}}.jpeg">
                            <div class="categories__text">
                                <h4>Men’s fashion</h4>
                                <p>358 items</p>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/banner-images/{{banner.[2]._id}}.jpeg">
                            <div class="categories__text">
                                <h4>Women’s fashion</h4>
                                <p>273 items</p>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/banner-images/{{banner.[3]._id}}.jpeg">
                            <div class="categories__text">
                                <h4>Western</h4>
                                <p>159 items</p>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/banner-images/{{banner.[4]._id}}.jpeg">
                            <div class="categories__text">
                                <h4>Casuals</h4>
                                <p>792 items</p>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New product</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    {{!-- <li data-filter=".women">Products</li> --}}
                    <li data-filter=".men">Minimize</li>

                </ul>
            </div>
        </div>

        <div class="row property__gallery" >
            {{#each products}}
            <div class=" col-md-3  mix women"  >
                <div class="product__item">

                    <div class="product__item__pic set-bg" data-setbg="/product-images/{{this._id}}.jpeg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li><a href="/product-details/{{this._id}}" class="/user/image-popup"><span
                                        class="arrow_expand"></span></a></li>
                            <li><a href="#" onclick="wishList('{{this._id}}')" ><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/product-details/{{this._id}}">{{this.name}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">${{this.price}}</div>
                        {{!-- <a class="btn btn-primary" href="/add-cart/{{this._id}}">Add Cart</a> --}}
                        <button onclick="addCart('{{this._id}}')" class="btn btn-primary">Add Cart</button>
                    </div>
                    {{!-- button function script --}}
                    <script>
                        function addCart(productId) {
                            $.ajax({
                                url: '/add-cart/' + productId,
                                method: 'get',
                                success: (response) => {
                                    if (response.status) {
                                        let count = $('#cart-count').html()
                                        count = parseInt(count) + 1
                                        $("#cart-count").html(count)
                                        alert('cart added')
                                        $('#cartadd').load(location.href + ' #cartadd')
                                    }

                                }
                            })
                        }
                    </script>
                </div>


            </div>
            {{/each}}

            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item sale">

                </div>
            </div>
        </div>
    </div>
    {{!-- //pagination__option --}}
    <div class="col-lg-12 text-center">
        <div class="pagination__option">
            <a href="#">1</a>
            <a href="#">2</a>
            {{!-- <a href="#">3</a> --}}
            <a href="#"><i class="fa fa-angle-right"></i></a>
        </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section class="banner set-bg " data-setbg="/user/img/banner/banner-1.jpg">
    <div class="container ">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Trend Section Begin -->
<section class="trend spad">
    <div class="container">
        <div class="row">


            <div class="col-md-12">

                <div class="trend__content">
                    <div class="section-title">
                        <h4>CATEGORIES TO BAG</h4>
                    </div>
                    <div class="row">
                        {{#each categories}}
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img class="p-2" width="180px" height="230px" src="category-images/{{this._id}}.jpeg"
                                    alt="">
                            </div>
                            <div class="trend__item__text pl-1 p-4">
                                <h6>{{this.name}}</h6>

                                {{!-- <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div> --}}
                                <div class="product__price">Off {{this.price}}%</div>
                                <button class="btn btn-primary pl-3" href="/shop">ShopNow</button>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{!--
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/user/img/trend/ht-2.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Pendant earrings</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div> --}}
                    {{!-- <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/user/img/trend/ht-3.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Cotton T-Shirt</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div> --}}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    {{!-- <div class="section-title">
                        <h4>Best seller</h4>
                    </div> --}}
                    {{!-- <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/user/img/trend/bs-1.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Cotton T-Shirt</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div> --}}
                    {{!-- <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/user/img/trend/bs-2.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Zip-pockets pebbled tote <br />briefcase</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div> --}}
                    <div class="trend__item">
                        {{!-- <div class="trend__item__pic">
                            <img src="/user/img/trend/bs-3.jpg" alt="">
                        </div> --}}
                        {{!-- <div class="trend__item__text">
                            <h6>Round leather bag</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div> --}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    {{!-- <div class="section-title">
                        <h4>Feature</h4>
                    </div> --}}
                    {{!-- <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/user/img/trend/f-1.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Bow wrap skirt</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div> --}}
                    {{!-- <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/user/img/trend/f-2.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Metallic earrings</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div> --}}
                    {{!-- <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/user/img/trend/f-3.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Flap cross-body bag</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div> --}}
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Trend Section End -->

<!-- Discount Section Begin -->
<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img src="/user/img/discount.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <span>Discount</span>
                        <h2>Summer 2022</h2>
                        <h5><span>Sale</span> 50%</h5>
                    </div>
                    <div class="discount__countdown" id="countdown-time">
                        <div class="countdown__item">
                            <span>22</span>
                            <p>Days</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>Hour</p>
                        </div>
                        <div class="countdown__item">
                            <span>46</span>
                            <p>Min</p>
                        </div>
                        <div class="countdown__item">
                            <span>05</span>
                            <p>Sec</p>
                        </div>
                    </div>
                    <a href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
<script>
    function wishList(productId) {
        $.ajax({
            url: '/add-wish-list/' + productId,
            method: 'get',
            success: (response) => {
                if (response.logged) {
                    $('#wishadd').load(location.href + ' #wishadd')

                    //alert('added success')
                    swal('wishlist added')
                } else {
                    swal('wishlist removed')
                  $('#wishadd').load(location.href + ' #wishadd')

                }
            }
        })
    }
</script>